<nav class="navbar" aria-label="Primary navigation">
  <a class="navbar__brand" routerLink="/" aria-label="Andara home">
    ANDARA
  </a>

  <div class="navbar__links">
    <a routerLink="/" fragment="vehicles">
      Vehicles
    </a>
    <a routerLink="/">
      Energy
    </a>
    <a routerLink="/">
      Charging
    </a>
    <a routerLink="/">
      Discover
    </a>
    <a routerLink="/">
      Shop
    </a>
  </div>

  <div class="navbar__actions" aria-label="Secondary navigation">
    <a routerLink="/">Support</a>
    <a routerLink="/">Account</a>
  </div>
</nav>
