<nav class="navbar" aria-label="Primary navigation">
  <a class="navbar__brand" routerLink="/" aria-label="Andara home">
    ANDARA
  </a>

  <div class="navbar__links">
    <a routerLink="/" fragment="vehicles">
      Vehicles
    </a>
    <a routerLink="/dealership">
      Dealership
    </a>
    <a routerLink="/">
      Charging
    </a>
    <a routerLink="/">
      Discover
    </a>
    <a routerLink="/">
      Shop
    </a>
  </div>

  <div class="navbar__actions" aria-label="Secondary navigation">
    <button
      class="navbar-icon-button"
      type="button"
      aria-label="Support"
      (click)="openSupport()"
    >
      <i class="ph-headset-light" aria-hidden="true"></i>
    </button>
    <div class="navbar-dropdown" [class.is-open]="isAccountMenuOpen()">
      <button
        class="navbar-dropdown__trigger"
        type="button"
        aria-label="Account menu"
        aria-haspopup="menu"
        [attr.aria-expanded]="isAccountMenuOpen()"
        (click)="toggleAccountMenu()"
      >
        <i class="ph-user-circle-light" aria-hidden="true"></i>
        <i class="navbar-dropdown__chevron ph-caret-down-light" aria-hidden="true"></i>
      </button>

      <div class="navbar-dropdown__menu" role="menu">
        <a class="navbar-dropdown__option" routerLink="/login" role="menuitem" (click)="closeAccountMenu()">
          Check order status
        </a>
        <a class="navbar-dropdown__option" routerLink="/login" role="menuitem" (click)="closeAccountMenu()">
          Manage account
        </a>

         @if(authService.isAdmin()){
          <a class="navbar-dropdown__option" routerLink="/admin" role="menuitem" (click)="closeAccountMenu()">
          Admin Dashboard</a>
        }


        @if(authService.isLoggedIn()){
          <button
            class="navbar-dropdown__option"
            type="button"
            role="menuitem"
            (click)="signOut()"
          >
            Sign out
          </button>
        } @else {
          <a class="navbar-dropdown__option" routerLink="/login" role="menuitem" (click)="closeAccountMenu()">
            Login
          </a>
        }
      </div>
    </div>
    <button
      class="navbar-menu-button"
      type="button"
      aria-label="Navigation menu"
      aria-haspopup="menu"
      [attr.aria-expanded]="isMobileMenuOpen()"
      (click)="toggleMobileMenu()"
    >
      <i class="ph-list-light" aria-hidden="true"></i>
    </button>
  </div>

  @if(isMobileMenuOpen()) {
    <div class="navbar-mobile-menu" role="menu">
      <a routerLink="/" fragment="vehicles" role="menuitem" (click)="closeMobileMenu()">
        Vehicles
      </a>
      <a routerLink="/dealership" role="menuitem" (click)="closeMobileMenu()">
        Dealership
      </a>
      <a routerLink="/" role="menuitem" (click)="closeMobileMenu()">
        Charging
      </a>
      <a routerLink="/" role="menuitem" (click)="closeMobileMenu()">
        Discover
      </a>
      <a routerLink="/" role="menuitem" (click)="closeMobileMenu()">
        Shop
      </a>
    </div>
  }
</nav>
